alias a='alias'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ls='ls -G'
alias l='ls'
alias ll='ls -l'
alias la='ls -aG'
alias lla='ls -al'
alias md='mkdir'
alias h='history'
alias g='grep'
alias ls='ls --color=auto'
